@inherits LayoutComponentBase
<PageTitle>Travis Wylie</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="bg-dark">
        <div class="top-row px-4">
            <a href="https://www.linkedin.com/in/travis-wylie-9b1129154/" target="_blank">LinkedIn</a>
            <a href="https://github.com/justiphi" target="_blank">Github</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer class="footer px-4">
            <hr />
            <p class='text-center'>Travis Wylie - 2024</p>
        </footer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
