@page "/Contact"
<h3>Contact</h3>
<p>For any questions, references or additional code samples, please contact me through one of the following methods:</p>

<div class="row justify-content-center">

    <div class="contact col-sm-11 col-md-6 col-lg-5">
        <h3 class="text-center">Email:</h3>
        <ul>
            <li>traviswylie58@gmail.com</li>
        </ul>
    </div>

    <div class="contact col-sm-11 col-md-6 col-lg-5">
        <h3 class="text-center">Phone:</h3>
        <ul>
            <li>022 100 5064</li>
        </ul>
    </div>
</div>

@code {

}
