@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<p>My name is Travis Wylie, I am currently a software developer at Radford Software in Tauranga, New Zealand</p>

<br />
<p>With 5 years of professional software development experience on top of having completed freelance work and mentoring, I have contributed to the development of many kinds of different applications while still finding time to continue with my own projects.</p>
<p>In my current employment I have been responsible for aiding the training of new staff members both locally and remote, while creating additional applications to help colleagues with timekeeping. As a result time logs were more accurate and less time was taken to keep these logs as the software integrated with company systems by API.</p>
<p>I am currently seeking an employment opportunity that would allow me to utilize my current experience and continue to grow as a developer while allowing me to follow my passion of creating new and exciting software.</p>

